

 <ion-card class="location-card" *ngIf="postData" >
  <div >
    <img src="{{ postData?.data?.postImgPath }}" [routerLink]="['/details', postData?.id]"/>
    <!-- <ion-chip class="ion-padding">
      <ion-label color="white" *ngIf="postData?.data?.isFeatured"> Featured</ion-label>
    </ion-chip> -->
  </div>
  <ion-item lines="none">            
    <ion-label class="ion-text-wrap">
      <ion-text class="title">{{ postData?.data?.title }}</ion-text>
      <p>
        <ion-text color="medium">
          {{postData?.data?.category?.category}}
        </ion-text>
      </p>
    </ion-label>
    <div>
      <ion-icon name="heart-outline" (click)="favourite(true)" *ngIf="!postData.isFavorite" name="heart-outline" ></ion-icon>
      <ion-icon  (click)="disfavourite(false)" style="color: #d41414" *ngIf="postData.isFavorite" slot="end" name="heart"></ion-icon>
    </div>

    
      <!-- <ion-icon slot="end" (click)="favourie(item,true)" *ngIf="!item.isFavorite" name="star-outline"></ion-icon>
      <ion-icon  (click)="disfavourite(item,false)" style="color: #FFBD00" *ngIf="item.isFavorite" slot="end" name="star"></ion-icon> -->

  </ion-item>
</ion-card>