


<ion-content [fullscreen]="true" color="light">
 
  <ion-header>

 <img  src="{{postData.postImgPath }}" alt="" class="img-details"  > 

    <ion-label color="light" class="title-details">
      {{postData?.title}}
     
    </ion-label>
   
  </ion-header>

  <ion-segment
    mode="md" 
    (ionChange)="segmentChanged($event)" 
    [(ngModel)]="segmentValue" 
    class="ion-padding-horizontal">
    <ion-segment-button value="1">
      <ion-label>Overview</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Reviews</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="segmentValue == '1'">
    <ion-row>
      <ion-col size="6"  *ngIf="postData.isFeatured">
        <ion-item lines="none">
          <ion-icon name="star" slot="start" color="primary"></ion-icon>
          <ion-label>
            <ion-text color="medium"> Featured</ion-text>
            <p>
              <ion-text color="dark"> by users</ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-icon name="eye" slot="start" color="primary"></ion-icon>
          <ion-label>
            <ion-text color="medium">Views</ion-text>
            <p>
              <ion-text color="dark">{{postData.views}} Time</ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-text color="medium" class="ion-text-justify ion-padding-horizontal description">
        <p [innerHtml]="postData.content"></p>
      </ion-text>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="segmentValue == '2'">
    <ion-row>
      <ion-col >
        <ion-item lines="none">
          <ion-icon name="time" slot="start" color="primary"></ion-icon>
          <ion-label>
            <ion-text color="medium">Comment</ion-text>
            <p>
              <!-- <ion-text color="dark">{{item?.duration}} hours</ion-text> -->
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
 
    </ion-row>

    <ion-row>
      <ion-text color="medium" class="ion-text-justify ion-padding-horizontal description">
        <!-- {{item?.description}} -->
      </ion-text>
    </ion-row>
  </ion-grid>

</ion-content>
